  </body>
  
  <!-- Narrator Modal -->
  <div id="narratorModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Narrator Name</h2>
        <span class="close-modal">&times;</span>
      </div>
      <div class="modal-tabs">
        <button class="modal-tab active" data-tab="tabInfo">Info</button>
        <button class="modal-tab" data-tab="tabBio">Biography</button>
        <button class="modal-tab" data-tab="tabStyle">Style</button>
      </div>
      <div class="modal-body">
        <div id="tabInfo" class="modal-tab-content active">
          <p>Basic information about the narrator will appear here.</p>
        </div>
        <div id="tabBio" class="modal-tab-content">
          <p>Detailed biography of the narrator will appear here.</p>
        </div>
        <div id="tabStyle" class="modal-tab-content">
          <p>Information about the narrator's style and approach will appear here.</p>
        </div>
      </div>
    </div>
  </div>
</html> 